<nav class="breadcrumb">
    <a class="breadcrumb-item" href="javascript://" routerLink="/admin">หน้าหลัก</a>
    <a class="breadcrumb-item" href="javascript://" routerLink="/admin/requisition">เบิกยาและเวชภัณฑ์</a>
    <span class="breadcrumb-item active">ขอเบิก</span>
  </nav>
  
  <div class="card">
    <div class="card-block" style="padding: 0px 0px 0px 10px;">
      <form class="compact"style="padding-top: 0px;">
        <section class="form-block">
          <div class="form-group row wid99">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <label for="requisitionCode">รหัสใบเบิก</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <input type="text" name="requisitionCode" id="requisitionCode" placeholder="สร้างอัตโนมัติ" style="width: 100%;" disabled [(ngModel)]="requisitionCode">
            </div>
          <!-- </div>
          <div class="form-group row wid99"> -->
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <label for="requisitionDate" class="required">วันที่เบิก</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <my-date-picker-th name="mydate" [options]="myDatePickerOptions" [(ngModel)]="requisitionDate" required></my-date-picker-th>
            </div>
            <!-- <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <label class="required" for="gForm_1">ประเภทการเบิกจ่าย</label>
            </div> -->
            <!-- <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="select">
                <select name="slRequisitionType" [(ngModel)]="requisitionTypeID">
                  <option value="">
                    <เลือกประเภท>
                  </option>
                  <option *ngFor="let rt of requiSitionTypes" [value]="rt.requisition_type_id">{{ rt.requisition_type }}</option>
                </select>
              </div>
            </div> -->
          </div>
          <!-- <div class="form-group row wid99">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <label class="required" for="wmRequisition">หน่วยเบิก</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="select">
                <select [disabled]="isUpdate" name="wmRequisition" [(ngModel)]="wmRequisition" (change)="onSelectWarehouses($event)">
                  <option value="">
                    <หน่วยเบิก>
                  </option>
                  <option *ngFor="let u of warehouses" [value]="u.warehouse_id">{{ u.short_code }} - {{ u.warehouse_name }}</option>
                </select>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <label class="required" for="slWarehouse">เบิกจากคลัง</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="select">
                <select [disabled]="isUpdate" name="slWarehouse" id="slWarehouse" [(ngModel)]="wmWithdraw" (change)="getTemplates()">
                  <option value="">
                    <กรุณาเลือกคลัง>
                  </option>
                  <option *ngFor="let w of withDrawWarehouses" [value]="w.warehouse_id">{{ w.short_code }} - {{ w.warehouse_name }}</option>
                </select>
              </div>
            </div>
          </div> -->
        </section>
      </form>
  
    </div>
  </div>
  
    
  <clr-datagrid class="order-form">
    <clr-dg-column [style.width.px]="380">ชื่อยา/เวชภัณฑ์</clr-dg-column>
    <clr-dg-column >จำนวนเบิก</clr-dg-column>
    <clr-dg-column >หน่วย</clr-dg-column>
    <clr-dg-column >รวม</clr-dg-column>
    <clr-dg-column >คงเหลือ</clr-dg-column>
    <clr-dg-column ></clr-dg-column>
  
    
  <clr-dg-row *ngFor="let product of products; let idx = index;">
      <wm-issue-product (onChange)="changeQtyGrid($event)" *clrIfExpanded [data]="product.items" ngProjectAs="clr-dg-row-detail"></wm-issue-product>
      <clr-dg-cell style="text-align: left; line-height: 25px;">{{idx + 1}}. {{product.product_name}}</clr-dg-cell>
      <clr-dg-cell>
        <input disabled type="text" #reqQty (keyup)="editChangereqQty(idx, reqQty)" class="wm-edit-box-number" style="width: 100%; background-color: #FFF9C4"
          wmNumberOnly [value]="product.reqs_qty" />
      </clr-dg-cell>
      <clr-dg-cell style="text-align: right; line-height: 25px;">
        {{product.large_unit_name}}( {{product.small_qty}} {{product.small_unit_name}})
      </clr-dg-cell>
      <clr-dg-cell style="text-align: right; line-height: 25px;" [ngStyle]="{'color': (product.reqQty * product.small_qty) > product.remain_qty ? 'red' : 'green'}">{{ product.reqs_qty*product.small_qty | number }} {{product.small_unit_name}}</clr-dg-cell>
      <clr-dg-cell style="line-height: 25px; text-align: right;" [ngStyle]="{'color': (product.reqs_qty * product.small_qty) > product.remain_qty ? 'red' : 'green'}">{{product.remain_qty - product.reqs_qty | number}} {{product.large_unit_name}}</clr-dg-cell>
      <clr-dg-cell style="text-align: center;">
        <div class="btn-group btn-primary">
          <button class="btn btn-sm btn-danger wm-small-btn" (click)="removeSelectedProduct(idx)">
            <clr-icon shape="trash"></clr-icon>
          </button>
        </div>
      </clr-dg-cell>
    </clr-dg-row>
  
    
    <clr-dg-row class="newLine">
      <clr-dg-cell>
        <wm-search-product #productSearch (onSelect)="setSelectedProduct($event)" (onChange)="changeSearchProduct($event)"></wm-search-product>
      </clr-dg-cell>
      <clr-dg-cell>
        <input type="text" class="wm-edit-box-number" style="width: 100px;" style="background-color: #FFF9C4" [disabled]="!selectedProductId"
          [(ngModel)]="reqQty" autocomplete="off" wmNumberWithOutDot placeholder="">
      </clr-dg-cell>
      <clr-dg-cell style="text-align: right; line-height: 25px;">
        <div *ngIf="searchProduct.large_unit_name !== null">
          {{searchProduct.large_unit_name}}( {{searchProduct.small_qty}} {{searchProduct.small_unit_name}})
        </div>
  
      </clr-dg-cell>
      <clr-dg-cell style="text-align: right; line-height: 25px;" [ngStyle]="{'color': (reqQty * searchProduct.small_qty) > remainQty ? 'red' : 'green'}">{{ reqQty*searchProduct.small_qty | number }} {{searchProduct.small_unit_name}}</clr-dg-cell>
      <clr-dg-cell style="text-align: right; line-height: 25px;">{{ remainQty | number }} {{searchProduct.large_unit_name}}</clr-dg-cell>
  
      <clr-dg-cell style="text-align: center;">
        <div class="btn-group btn-primary">
          <button class="btn btn-success btn-sm wm-small-btn" [disabled]="!selectedProductId || !reqQty ||  ((reqQty * searchProduct.small_qty) > remainQty)"
            (click)="addProduct()">
            เพิ่ม
          </button>
          <button class="btn btn-danger btn-sm wm-small-btn" (click)="clearForm()">
            ยกเลิก
          </button>
        </div>
      </clr-dg-cell>
    </clr-dg-row>
  
    <clr-dg-footer>
      {{paginationSelected.firstItem + 1}} - {{paginationSelected.lastItem + 1}} จาก {{paginationSelected.totalItems}} รายการ
      <clr-dg-pagination #paginationSelected [clrDgPageSize]="50"></clr-dg-pagination>
    </clr-dg-footer>
  
  </clr-datagrid>
  
  <!-- <clr-checkbox name="isVerify" [(ngModel)]="isVerify">ตรวจสอบข้อมูลถูกต้อง</clr-checkbox> -->
  
  <button class="btn btn-success btn-sm" (click)="save()" [disabled]="!requisitionDate || products.length <= 0">
    <clr-icon shape="floppy"></clr-icon>
    บันทึกเบิกสินค้า
  </button>
  <button class="btn btn-danger btn-sm" [routerLink]="['/admin/requisition']">
    <clr-icon shape="home"></clr-icon>
    กลับหน้าหลัก
  </button>
  
  <!-- <wm-modal-search-requisition #modalRequisition [wmRequisition]="wmRequisition" (onSelect)="setSelectRequisition($event)"
    (onClose)="closeRequisitionModal($event)"></wm-modal-search-requisition> -->
  
<app-loading-modal #modalLoading></app-loading-modal>