<nav class="breadcrumb">
    <a class="breadcrumb-item" href="javascript://" routerLink="/admin">หน้าหลัก</a>
    <span class="breadcrumb-item active">เบิกยา/เวชภัณฑ์</span>
  </nav>
  
  <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
    <div class="col-md-6">
      <button class="btn btn-sm btn-success" routerLink="/staff/requisition/new">
        <clr-icon shape="plus"></clr-icon> เบิกยา/เวชภัณฑ์
      </button>
    </div>
  </div>
  <clr-tabs>
    <clr-tab>
      <button clrTabLink id="link1" (click)="setTapActive('waiting')">
        <clr-icon shape="file"></clr-icon>
        รายการขอเบิก
        <!-- <span class="badge badge-info">{{totalWaiting | number}}</span> -->
      </button>
      <clr-tab-content id="content1" *clrIfActive="selectedTab === 'waiting'">
        <clr-datagrid (clrDgRefresh)="refreshWaiting($event)" style="margin-top: -25px; height: 85%;">
          <clr-dg-column style="width: 20%;">วันที่เบิก</clr-dg-column>
          <clr-dg-column >เลขที่เบิก</clr-dg-column>
          <clr-dg-column style="width: 30%;">ผู้เบิก</clr-dg-column>
          <!-- <clr-dg-column style="width: 100px;">ยา/เวชภัณฑ์ไม่พอจ่าย</clr-dg-column> -->
          <clr-dg-column style="width: 270px"></clr-dg-column>
          <clr-dg-placeholder>ไม่พบรายการ!</clr-dg-placeholder>
  
          <clr-dg-row *ngFor="let order of orders" [clrDgItem]="order" [ngClass]="{'isError': order.is_cancel === 'Y'}">
            <app-requisition-order-detail *clrIfExpanded [requisitionId]="order.requisition_order_id" ngProjectAs="clr-dg-row-detail"></app-requisition-order-detail>
            <clr-dg-cell>{{order.requisition_date | toThaiDate}}</clr-dg-cell>
            <clr-dg-cell>{{order.requisition_code}}</clr-dg-cell>
            <clr-dg-cell>{{order.fullName}}</clr-dg-cell>
            <!-- <clr-dg-cell style="text-align: center;">
              <clr-icon shape="check" class="is-danger" *ngIf="!order.total_remain || order.total_remain <=0"></clr-icon>
            </clr-dg-cell>
            <clr-dg-cell style="text-align: center;">
              <clr-icon shape="check" *ngIf="order.is_cancel === 'Y'" class="is-danger"></clr-icon>
            </clr-dg-cell> -->
            <clr-dg-cell style="text-align: center;">
              <div class="btn-group">
  
                <!-- <button class="btn btn-sm  btn-success" [disabled]="order.is_cancel === 'Y' || !order.total_remain || order.total_remain <= 0"
                  [routerLink]="['/admin/requisition/confirm']" [queryParams]="{requisitionId: order.requisition_order_id}" title="จ่ายเวชภัณฑ์">
                  <clr-icon shape="success-standard"></clr-icon>
                </button> -->
                <button class="btn btn-sm  btn-primary" [disabled]="order.is_cancel === 'Y'" [routerLink]="['/staff/requisition/edit/', order.requisition_order_id]"
                  title="แก้ไขใบเบิก">
                  <clr-icon shape="note"></clr-icon>
                </button>
                <button class="btn btn-sm  btn-danger" [disabled]="order.is_cancel === 'Y'" (click)="removeOrder(order)"
                  title="ยกเลิกใบเบิก">
                  <clr-icon shape="trash"></clr-icon>
                </button>
              </div>
              <!-- <button [disabled]="order.is_cancel === 'Y'" title="จ่ายเวชภัณฑ์" class="btn btn-success btn-icon btn-sm wm-small-btn" [routerLink]="['/admin/requisition/confirm']" [queryParams]="{requisitionId: order.requisition_order_id}">
                <clr-icon shape="note"></clr-icon>
              </button> -->
  
            </clr-dg-cell>
  
          </clr-dg-row>
  
          <clr-dg-footer>
            {{pageWorking.firstItem + 1}} - {{pageWorking.lastItem + 1}} จาก {{pageWorking.totalItems}} รายการ
            <clr-dg-pagination #pageWorking [(clrDgPage)]="currentPage" [clrDgPageSize]="perPage" [clrDgTotalItems]="totalWaiting"></clr-dg-pagination>
          </clr-dg-footer>
        </clr-datagrid>
      </clr-tab-content>
    </clr-tab>
  
    <clr-tab>
      <button clrTabLink (click)="setTapActive('approved')">
        <clr-icon shape="happy-face"></clr-icon>
        รายการอนุมัติแล้ว
        <!-- <span class="badge badge-warning">{{approved | number}}</span> -->
      </button>
  
      <clr-tab-content *clrIfActive="selectedTab === 'approved'">
        <clr-datagrid (clrDgRefresh)="refreshApprove($event)" style="margin-top: -25px; height: 85%;">
          <clr-dg-column style="width: 20%;">วันที่เบิก</clr-dg-column>
          <clr-dg-column style="width: 50%;">เลขที่เบิก</clr-dg-column>
          <clr-dg-column style="width: 30%;">ผู้เบิก</clr-dg-column>
          <!-- <clr-dg-column>เบิกจาก</clr-dg-column> -->
          <!-- <clr-dg-column>ประเภทการเบิก</clr-dg-column> -->
          <clr-dg-placeholder>ไม่พบรายการ!</clr-dg-placeholder>
          <clr-dg-row *ngFor="let order of approveds" [clrDgItem]="order" [ngClass]="{'isError': order.is_cancel === 'Y'}">
            
            <app-requisition-order-detail *clrIfExpanded [requisitionId]="order.requisition_order_id" ngProjectAs="clr-dg-row-detail"></app-requisition-order-detail>
            <!-- <wm-requisition-order-items-pay *clrIfExpanded [confirmId]="order.confirm_id" [requisitionId]="order.requisition_order_id" ngProjectAs="clr-dg-row-detail"></wm-requisition-order-items-pay> -->
            <clr-dg-cell>{{order.requisition_date | toThaiDate}}</clr-dg-cell>
            <clr-dg-cell>{{order.requisition_code}}</clr-dg-cell>
            <clr-dg-cell>{{order.fullName}}</clr-dg-cell>
            <!-- <clr-dg-cell>{{order.withdraw_warehouse_name}}</clr-dg-cell> -->
            <!-- <clr-dg-cell>{{order.requisition_type}}</clr-dg-cell> -->
  
          </clr-dg-row>
  
          <clr-dg-footer>
            {{pageWorking.firstItem + 1}} - {{pageWorking.lastItem + 1}} จาก {{pageWorking.totalItems}} รายการ
            <clr-dg-pagination #pageWorking [(clrDgPage)]="currentPage" [clrDgPageSize]="perPage" [clrDgTotalItems]="totalWaitingApprove"></clr-dg-pagination>
          </clr-dg-footer>
        </clr-datagrid>
      </clr-tab-content>
    </clr-tab>
  
  
  
  </clr-tabs>
  <app-html-preview #htmlPreview></app-html-preview>
  <app-loading-modal #modalLoading></app-loading-modal>
  