<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin">หน้าหลัก</a>
  <span class="breadcrumb-item active">เวชภัณฑ์ถึงจุดเบิก</span>
</nav>
    <div style="padding-top: 10px">
      <button  class='btn btn-sm btn-primary'>พิมพ์ใบประมาณการ</button>
    </div>
     
      <div [clrLoading]="loading">
        <clr-datagrid (clrDgRefresh)="refresh($event)" style="margin-top: -10px;" [(clrDgSelected)]="selectedApprove">
          <clr-dg-column [clrDgField]="'product_name'">ชื่อยา/เวชภัณฑ์</clr-dg-column>
          <clr-dg-column [style.width.px]="100">จำนวนต่ำสุด</clr-dg-column>
          <clr-dg-column [style.width.px]="100">จำนวนสูงสุด</clr-dg-column>
          <clr-dg-column [style.width.px]="100">คงเหลือ</clr-dg-column>
          <clr-dg-column [style.width.px]="100">หน่วย</clr-dg-column>
          <!-- <clr-dg-column></clr-dg-column> -->
          <clr-dg-placeholder>ไม่พบรายการ</clr-dg-placeholder>
          <clr-dg-row *clrDgItems="let g of products" [clrDgItem]="g">
            <clr-dg-cell>{{g.product_name}}</clr-dg-cell>
            <clr-dg-cell style="text-align: right;">{{g.min_qty | number}}</clr-dg-cell>
            <clr-dg-cell style="text-align: right;">{{g.max_qty | number}}</clr-dg-cell>
            <clr-dg-cell style="text-align: right;">{{g.qty | number}}</clr-dg-cell>
            <clr-dg-cell style="text-align: center;">{{g.unit_name}}</clr-dg-cell>
            <!-- <clr-dg-cell>
              <div class="btn-group btn-sm">
                <button title="เติมเฉพาะเวชภัณฑ์นี้" class="btn btn-success btn-icon" (click)="linkToDashboardGeneric(g.generic_id)">
                  <clr-icon shape="clipboard"></clr-icon>
                </button>
                <button title="เติมเวชภัณฑ์ทั้งหมดในคลัง" class="btn btn-outline-success btn-icon" (click)="linkToDashboardWarehouse(g.dst_warehouse_id)">
                  <clr-icon shape="list"></clr-icon>
                </button>
              </div>
            </clr-dg-cell> -->
          </clr-dg-row>
          <clr-dg-footer>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} จาก {{pagination.totalItems}} รายการ
            <clr-dg-pagination #pagination [(clrDgPage)]="currentPage" [clrDgPageSize]="perPage"  [clrDgPageSize]="50"></clr-dg-pagination>
          </clr-dg-footer>
        </clr-datagrid>
      </div>

<app-loading-modal #modalLoading></app-loading-modal>
<app-html-preview #htmlPreview></app-html-preview>