<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin-setting">หน้าหลัก</a>
  <span class="breadcrumb-item active">จัดการบุคลากร</span>
</nav>


<button style="margin-bottom: 10px" class="btn btn-sm btn-success" (click)="addPeople()">
  <clr-icon shape="plus"></clr-icon>
  &nbsp;เพิ่มบุคลากร
</button>

<clr-datagrid style="height: 500px; margin-top: -28px" (clrDgRefresh)="refresh($event)">
  <clr-dg-column style="width: 150px;">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      คำนำหน้า
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      ชื่อ
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      นามสกุล
    </ng-container>
  </clr-dg-column>
  <clr-dg-column style="width: 200px;"></clr-dg-column>
  <clr-dg-placeholder>ไม่พบข้อมูล!</clr-dg-placeholder>
  <clr-dg-row *ngFor="let p of peoples">
    <clr-dg-cell style="text-align: left;">
      <span class="p4">{{p.title_name}}</span>
    </clr-dg-cell>
    <clr-dg-cell>
      <span class="p4">{{p.fname}}</span>
    </clr-dg-cell>
    <clr-dg-cell>
      <span class="p4">{{p.lname}}</span>
    </clr-dg-cell>
    <clr-dg-cell style="text-align: right;">
      <!-- <div class="btn-group"> -->
        <button class="btn btn-sm btn-primary" (click)="editItem(p)">
          <clr-icon shape="note"></clr-icon>
        </button>
        <!-- <button class="btn btn-sm btn-danger " (click)="delete(p)">
          <clr-icon shape="trash"></clr-icon>
        </button> -->
      <!-- </div> -->
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1 | number}} จาก {{pagination.totalItems | number}} รายการ
    <clr-dg-pagination #pagination [clrDgPage]="1" [clrDgPageSize]="peopleTotal" [clrDgTotalItems]="peopleTotal"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>


<clr-modal [(clrModalOpen)]="openModal" [clrModalStaticBackdrop]="true" [clrModalSize]="'md'" [clrModalClosable]="false">
  <h3 class="modal-title" *ngIf="items.people_id">แก้ไขข้อมูลเจ้าหน้าที่</h3>
  <h3 class="modal-title" *ngIf="!items.people_id">เพิ่มเจ้าหน้าที่</h3>
  <div class="modal-body">
    <!--  -->
    <div class="card">
      <div class="card-block">
        <form>
          <section>
            <!--  -->
            <div class="form-group row">
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <label class="required" for="title">คำนำหน้า</label>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="select">
                  <select id="lagnUnitId" name="lagnUnitId" [(ngModel)]="items.title_id">
                    <!--  > -->
                    <option *ngFor="let u of titles" [value]="u.title_id">
                      <!-- > -->
                      {{u.title_name}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <label class="required" for="productName">ชื่อ</label>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <input class="form-control" type="text" name="fname" id="fname" placeholder="" [(ngModel)]="items.fname">

              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <label class="required" for="productName">นามสกุล</label>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <input class="form-control" type="text" name="lname" id="lname"placeholder="" [(ngModel)]="items.lname">

              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label>Active</label>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <div class="toggle-switch">
                  <input type="checkbox" id="toggle" #event [checked]="items.is_active==='Y'" (change)="changActive($event)">
                  <label for="toggle"></label>
                </div>
              </div>
            </div>
          </section>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer" style="padding-top: 24px;">
    <button [disabled]="items.fname == '' && items.lname == '' && items.title_id == ''" *ngIf="items.people_id" type="button" class="btn btn-md btn-primary" (click)="editSaveItem()">บันทึก</button>
    <button [disabled]="items.fname == '' && items.lname == '' && items.title_id == ''" *ngIf="!items.people_id" type="button" class="btn btn-md btn-primary" (click)="saveAdd()">บันทึก</button>
    <button type="button" class="btn btn-md btn-danger-outline" (click)="close()">ปิด</button>
  </div>
</clr-modal>

<app-loading-modal #modalLoading></app-loading-modal>
