<div [clrLoading]="loading">
    <clr-datagrid>
      <clr-dg-column>ชื่อยา/เวชภัณฑ์</clr-dg-column>
      <clr-dg-column>จำนวนเบิก</clr-dg-column>
  
      <clr-dg-row *ngFor="let product of products;let idx = index;">
        <clr-dg-cell> {{idx + 1}}. {{product.product_name}} </clr-dg-cell>
        <clr-dg-cell style="text-align: left;">{{ product.requisition_qty | number }}{{product.large_unit_name}}( {{product.small_qty | number}} {{product.small_unit_name}})</clr-dg-cell>
      </clr-dg-row>
      <clr-dg-footer>{{products.length}} รายการ</clr-dg-footer>
    </clr-datagrid>
  </div>