<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin">หน้าหลัก</a>
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin/issues">ตัดจ่าย (อื่นๆ)</a>
  <span class="breadcrumb-item active">บันทึกตัดจ่าย</span>
</nav>
<div class="card">
  <div class="card-block" style="padding: 0px 0px 0px 10px;">
    <form class="compact" style="padding-top: 0px;">
      <section class="form-block">
        <div class="form-group row">
          <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
            <label for="dateReceive" class="required">วันที่</label>
          </div>
          <div class="col-lg-3 col-md2 col-sm-12 col-xs-12">
            <my-date-picker-th name="mydate1" [options]="myDatePickerOptions" [(ngModel)]="issueDate" required></my-date-picker-th>
          </div>

        </div>

        <div class="form-group row">
          <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
            <label class="required" for="gForm_1">ประเภท</label>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <div class="select">
              <select name="slStatus" [(ngModel)]="transactionId">
                <option value="">
                  <กรุณาเลือกประเภท>
                </option>
                <option *ngFor="let s of issues" [value]="s.transaction_id">{{ s.transaction_name }}</option>
              </select>
            </div>
          </div>

        </div>

        <div class="form-group row">
          <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
            <label for="dateReceive">หมายเหตุ</label>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <input class="form-control" type="text" name="comment" [(ngModel)]="comment">
          </div>
          <!-- <div class=" col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <div class="btn-group">
              <button class="btn btn-primary btn-sm" (click)="showUploadModal()">
                <clr-icon shape="import"></clr-icon>
                นำเข้ารายการจาก Excel
              </button>
              <button type="button" class="btn btn-outline-primary btn-sm" (click)="openModal()">
                <clr-icon shape="search"></clr-icon> เลือกจากประวัติ
              </button>
            </div>
          </div> -->
        </div>
      </section>
    </form>
  </div>
</div>

<clr-datagrid>
  <clr-dg-column [style.width.px]="400">ชื่อยา/เวชภัณฑ์</clr-dg-column>
  <clr-dg-column >จำนวนตัดจ่าย</clr-dg-column>
  <clr-dg-column>หน่วยตัดจ่าย</clr-dg-column>
  <clr-dg-column>รวม</clr-dg-column>
  <clr-dg-column>คงเหลือ</clr-dg-column>

  <clr-dg-column></clr-dg-column>

  <clr-dg-row *ngFor="let product of products; let idx = index;">
    <wm-issue-product (onChange)="changeQtyGrid($event)" *clrIfExpanded [data]="product.items" ngProjectAs="clr-dg-row-detail"></wm-issue-product>
    <!-- <clr-dg-cell style="text-align: right; line-height: 25px;">{{idx + 1}}</clr-dg-cell> -->
    <clr-dg-cell style="text-align: left; line-height: 25px;">{{idx + 1}}. {{product.product_name}}</clr-dg-cell>
    <clr-dg-cell>
      <input disabled type="text" #issueQty (keyup)="editChangeIssueQty(idx, issueQty)" class="wm-edit-box-number" style="width: 100%; background-color: #FFF9C4"
        wmNumberOnly [value]="product.issue_qty" />
    </clr-dg-cell>
    <clr-dg-cell style="text-align: right; line-height: 25px;">
      {{product.large_unit_name}}( {{product.small_qty}} {{product.small_unit_name}})
      <!-- <wm-select-receive-unit #unit (onSelect)="editChangeUnit(idx, $event, unit)" [selectedUnitGenericId]="product.unit_generic_id"
        [genericId]="product.generic_id"></wm-select-receive-unit> -->
    </clr-dg-cell>
    <clr-dg-cell style="text-align: right; line-height: 25px;" [ngStyle]="{'color': (product.issueQty * product.small_qty) > product.remain_qty ? 'red' : 'green'}">{{ product.issue_qty*product.small_qty | number }} {{product.small_unit_name}}</clr-dg-cell>
    <!-- <clr-dg-cell style="text-align: right; line-height: 25px;">{{product.issue_qty | number}} {{product.large_unit_name}}</clr-dg-cell> -->
    <!-- <clr-dg-cell style="line-height: 25px;text-align: right;">{{product.reserve_qty | number}} {{product.unit_name}}</clr-dg-cell> -->
    <clr-dg-cell style="line-height: 25px; text-align: right;" [ngStyle]="{'color': (product.issue_qty * product.small_qty) > product.remain_qty ? 'red' : 'green'}">{{product.remain_qty - product.issue_qty | number}} {{product.large_unit_name}}</clr-dg-cell>
    <clr-dg-cell style="text-align: center;">
      <div class="btn-group btn-primary">
        <button class="btn btn-sm btn-danger wm-small-btn" (click)="removeSelectedProduct(idx)">
          <clr-icon shape="trash"></clr-icon>
        </button>
      </div>
    </clr-dg-cell>
  </clr-dg-row>

  
  <clr-dg-row class="newLine">
    <clr-dg-cell>
      <wm-search-product #productSearch (onSelect)="setSelectedProduct($event)" (onChange)="changeSearchProduct($event)"></wm-search-product>
      <!-- <wm-search-generic-warehouse-zero [warehouseId]="warehouseId" #productSearch (onSelect)="setSelectedProduct($event)"></wm-search-generic-warehouse-zero> -->
    </clr-dg-cell>
    <clr-dg-cell>
      <input type="text" class="wm-edit-box-number" style="width: 100px;" style="background-color: #FFF9C4" [disabled]="!selectedProductId"
        [(ngModel)]="issueQty" autocomplete="off" wmNumberWithOutDot placeholder="">
    </clr-dg-cell>
    <clr-dg-cell style="text-align: right; line-height: 25px;">
      <div *ngIf="searchProduct.large_unit_name !== null">
        {{searchProduct.large_unit_name}}( {{searchProduct.small_qty}} {{searchProduct.small_unit_name}})
      </div>

      <!-- <wm-select-receive-unit #unitList (onSelect)="changeUnit($event)"></wm-select-receive-unit> -->
    </clr-dg-cell>
    <clr-dg-cell style="text-align: right; line-height: 25px;" [ngStyle]="{'color': (issueQty * searchProduct.small_qty) > remainQty ? 'red' : 'green'}">{{ issueQty*searchProduct.small_qty | number }} {{searchProduct.small_unit_name}}</clr-dg-cell>
    <clr-dg-cell style="text-align: right; line-height: 25px;">{{ remainQty | number }} {{searchProduct.large_unit_name}}</clr-dg-cell>
    <!-- <clr-dg-cell style="text-align: center; line-height: 25px;">{{ primaryUnitName }}</clr-dg-cell> -->

    <clr-dg-cell style="text-align: center;">
      <div class="btn-group btn-primary">
        <button class="btn btn-success btn-sm wm-small-btn" [disabled]="!selectedProductId || !issueQty ||  ((issueQty * searchProduct.small_qty) > remainQty)"
          (click)="addProduct()">
          เพิ่ม
        </button>
        <button class="btn btn-danger btn-sm wm-small-btn" (click)="clearForm()">
          ยกเลิก
        </button>
      </div>
    </clr-dg-cell>
  </clr-dg-row>

</clr-datagrid>

<div>
  <button class="btn btn-success btn-sm" (click)="saveIssue()" [disabled]="!transactionId || !issueDate || !products.length">
    <clr-icon shape="floppy"></clr-icon>
    บันทึกตัดจ่ายยา/เวชภัณฑ์
  </button>
  <button class="btn btn-danger btn-sm" [routerLink]="['/admin/issues']">
    <clr-icon shape="home"></clr-icon>
    กลับหน้าหลัก
  </button>
</div>

<app-loading-modal #modalLoading></app-loading-modal>
